In [32]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [33]:
# Read the CSV files into DataFrames.
df1 = pd.read_csv('Resources/athletic_sales_2020.csv')
df2 = pd.read_csv('Resources/athletic_sales_2021.csv')

In [34]:
# Display the 2020 sales DataFrame
print(df1.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [35]:
# Display the 2021 sales DataFrame
print(df2.head())

    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

#### Check the data types of each DataFrame

In [36]:
# Check the 2020 sales data types.
print(df1.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [37]:
# Check the 2021 sales data types.
print(df2.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [38]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.

combined_df = pd.concat([df1, df2], ignore_index=True)

# Print
print(combined_df)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [39]:
# Check if any values are null.
print(combined_df.isnull().any())

retailer            False
retailer_id         False
invoice_date        False
region              False
state               False
city                False
product             False
price_per_unit      False
units_sold          False
total_sales         False
operating_profit    False
sales_method        False
dtype: bool

In [40]:
# Check the data type of each column
print(combined_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [41]:
# Convert the "invoice_date" to a datetime datatype
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

# Check the data types after conversion
print(combined_df)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732   2020-01-01  Northeast      New York
1     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3     Foot Locker      1185732   2020-01-01  Northeast      New York
4     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9639  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9640       Amazon      1185732   2021-12-31  Northeast         Maine
9641       Amazon      1185732   2021-12-31  Northeast         Maine
9642  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

C:\Users\RobertRodrigues\AppData\Local\Temp\ipykernel_20388\3037061390.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [42]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_df.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [43]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".

product_sold_counts = combined_df.groupby(['region', 'state', 'city']).agg({'units_sold': 'sum'})
product_sold_counts = product_sold_counts.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results
print(product_sold_counts.head())

                               Total_Products_Sold
region  state    city
Midwest Illinois Chicago                     25407
        Indiana  Indianapolis                26332
        Iowa     Des Moines                  23446
        Kansas   Wichita                     29463
        Michigan Detroit                     50095

#### Using `pivot_table`

In [44]:
# Create a pivot table to show the number of products sold for region, state, and city
pivot_table = combined_df.pivot_table(index=['region', 'state', 'city'], values='units_sold', aggfunc='sum')

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table = pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results
print(pivot_table.head())

                               Total_Products_Sold
region  state    city
Midwest Illinois Chicago                     25407
        Indiana  Indianapolis                26332
        Iowa     Des Moines                  23446
        Kansas   Wichita                     29463
        Michigan Detroit                     50095

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [45]:
# Show the total sales for the products sold for each region, state, and city.
total_sales_by_location = combined_df.groupby(['region', 'state', 'city']).agg({'total_sales': 'sum'})

# Rename the "total_sales" column to "Total Sales"
total_sales_by_location = total_sales_by_location.rename(columns={'total_sales': 'Total Sales'})
total_sales_by_location_sorted = total_sales_by_location.sort_values(by='Total Sales', ascending=False)

# Show the top 5 results
print(total_sales_by_location_sorted.head())

                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

#### Using `pivot_table`

In [46]:
# Show the total sales for the products sold for each region, state, and city.
pivot_table = combined_df.pivot_table(index=['region', 'state', 'city'], values='total_sales', aggfunc='sum')

# Optionally, rename the "total_sales" column to "Total Sales"
pivot_table = pivot_table.rename(columns={'total_sales': 'Total Sales'})
pivot_table_sorted = pivot_table.sort_values(by='Total Sales', ascending=False)

# Show the top 5 results
print(pivot_table_sorted.head())

                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [47]:
# Show the total sales for the products sold for each retailer, region, state, and city.
total_sales_by_location = combined_df.groupby(['retailer', 'region', 'state', 'city']).agg({'total_sales': 'sum'})

# Rename the "total_sales" column to "Total Sales"
total_sales_by_location = total_sales_by_location.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results
print(total_sales_by_location.head())

                                             Total Sales
retailer region    state         city
Amazon   Midwest   Ohio          Columbus       16835873
         Northeast Maine         Portland        8611395
                   Massachusetts Boston          4193590
                   New Hampshire Manchester     10077142
                   Vermont       Burlington     13380463

#### Using `pivot_table`

In [48]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_table = combined_df.pivot_table(index=['retailer', 'region', 'state', 'city'], values='total_sales', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = pivot_table.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results
print(pivot_table.head())

                                             Total Sales
retailer region    state         city
Amazon   Midwest   Ohio          Columbus       16835873
         Northeast Maine         Portland        8611395
                   Massachusetts Boston          4193590
                   New Hampshire Manchester     10077142
                   Vermont       Burlington     13380463

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [49]:
# Filter the sales data to get the women's athletic footwear sales data.
women_athletic_footwear_sales = combined_df[combined_df['product'].str.contains("Women's Apparel")]
# Print
print(women_athletic_footwear_sales.head())

       retailer  retailer_id invoice_date     region         state  \
1   Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2   Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
4   Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
31  Foot Locker      1185732   2020-01-06  Northeast      New York
32  Foot Locker      1185732   2020-01-06  Northeast      New York

            city          product  price_per_unit  units_sold  total_sales  \
1   Philadelphia  Women's Apparel              68          83         5644
2   Philadelphia  Women's Apparel              75         275       206250
4   Philadelphia  Women's Apparel              53          83         4399
31      New York  Women's Apparel              46         260        11960
32      New York  Women's Apparel              50        1000       500000

    operating_profit sales_method
1            2426.92       Online
2           61875.00       Outlet
4            1407.68       Outlet
31           4425.20       Online
32         125000.00     In-store

#### Using `groupby`

In [50]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
women_athletic_footwear_sales = combined_df[combined_df['product'] == "Women's Apparel"]
women_footwear_sold_counts = women_athletic_footwear_sales.groupby(['retailer', 'region', 'state', 'city']).agg({'units_sold': 'sum'})
women_footwear_sold_counts = women_footwear_sold_counts.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Sort
women_footwear_sold_counts_sorted = women_footwear_sold_counts.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)

# Show the top 10
print(women_footwear_sold_counts_sorted.head(10))

                                                       Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                        14480
Sports Direct South     Texas          Dallas                               13056
Kohl's        West      California     Los Angeles                          12968
Walmart       South     Texas          Houston                              12797
Sports Direct South     Tennessee      Knoxville                            12345
                        Alabama        Birmingham                           11828
Foot Locker   Northeast New York       New York                             11312
              Southeast South Carolina Charleston                           10574
Sports Direct Southeast North Carolina Charlotte                             9403
West Gear     West      Utah           Salt Lake City                        8848

#### Using `pivot_table`

In [51]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Filter the sales data to get women's athletic footwear sales data
women_athletic_footwear_sales = combined_df[combined_df['product'] == "Women's Apparel"]
pivot_table = women_athletic_footwear_sales.pivot_table(index=['retailer', 'region', 'state', 'city'], values='units_sold', aggfunc='sum')
pivot_table = pivot_table.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Sort the pivot table by "Womens_Footwear_Units_Sold" in descending order
pivot_table_sorted = pivot_table.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)

# Show the top 10
print(pivot_table_sorted.head(10))

                                                       Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                        14480
Sports Direct South     Texas          Dallas                               13056
Kohl's        West      California     Los Angeles                          12968
Walmart       South     Texas          Houston                              12797
Sports Direct South     Tennessee      Knoxville                            12345
                        Alabama        Birmingham                           11828
Foot Locker   Northeast New York       New York                             11312
              Southeast South Carolina Charleston                           10574
Sports Direct Southeast North Carolina Charlotte                             9403
West Gear     West      Utah           Salt Lake City                        8848

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [52]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_table = combined_df.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum')

# Show the table
print(pivot_table.head(10))

              total_sales
invoice_date
2020-01-01         845141
2020-01-02         689410
2020-01-03         632573
2020-01-04         615080
2020-01-05         707829
2020-01-06         655750
2020-01-07         877176
2020-01-08         668084
2020-01-09         201829
2020-01-10         200469

In [53]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = pivot_table.resample('D').sum()

# Sort the resampled pivot table in ascending order on "Total Sales".
daily_sales_sorted = daily_sales.sort_index(ascending=False)

#Print
print(daily_sales_sorted.head(10))

              total_sales
invoice_date
2021-12-31         198659
2021-12-30         167903
2021-12-29         211109
2021-12-28         301010
2021-12-27         602353
2021-12-26         396004
2021-12-25        2467644
2021-12-24         190885
2021-12-23        5873665
2021-12-22        1791736

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [54]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_table.resample('W').sum()

# Sort the resampled pivot table in ascending order on "Total Sales".
weekly_sales_sorted = weekly_sales.sort_index(ascending=False)

#Print
print(weekly_sales_sorted.head(10))

              total_sales
invoice_date
2022-01-02        1481034
2021-12-26       14467751
2021-12-19       24698535
2021-12-12       23250286
2021-12-05       14148357
2021-11-28        9112671
2021-11-21       18260315
2021-11-14       18852206
2021-11-07       12779315
2021-10-31        2595085